<div class="card">
  <div class="card-body">
    <h4 class="card-title">Fund Transfer</h4>
    <div class="row">
      <div class="col-lg-2 form-group">
        From Account
      </div>
      <div class="col-lg-4 form-group">
        <input type="text" class="form-control border-info">
      </div>
      <div class="col-lg-2 form-group">
        To Account
      </div>
      <div class="col-lg-4 form-group">
        <input type="text" class="form-control border-info">
      </div>
      <div class="col-lg-2 form-group">
        Account Type
      </div>
      <div class="col-lg-4 form-group">
        <input type="text" class="form-control border-info">
      </div>
      <div class="col-lg-2 form-group">
        Amount
      </div>
      <div class="col-lg-4 form-group">
        <input type="text" class="form-control border-info">
      </div>
      <div class="col-lg-2 form-group">
        Remarks
      </div>
      <div class="col-lg-10 form-group">
        <textarea class="form-control border-info"></textarea>
      </div>
    </div>
    <button class="btn btn-info pull-right">Transfer Balance</button>
  </div>
</div>