<div class="card">
  <div class="card-body">
    <h4 class="card-title">EMI Calculator</h4>
    <div class="row">
      <div class="col-lg-2 form-group">
        <label>Frequency Type</label>
      </div>
      <div class="col-lg-4 form-group">
        <select name="" id="" class="form-control">
          <option value="">Select Frequency Type</option>
          <option value="1">Month Wise</option>
          <option value="2">Day Wise</option>
        </select>
      </div>
      <div class="col-lg-2 form-group">
        <label>Frequency</label>
      </div>
      <div class="col-lg-4 form-group">
        <input type="text" class="form-control">
      </div>
      <div class="col-lg-2 form-group">
        <label>No Of Tenure</label>
      </div>
      <div class="col-lg-4 form-group">
        <input type="text" class="form-control">
      </div>
      <div class="col-lg-2 form-group">
        <label>Rate Of Interest</label>
      </div>
      <div class="col-lg-4 form-group">
        <input type="text" class="form-control">
      </div>
      <div class="col-lg-2 form-group">
        <label>Amount</label>
      </div>
      <div class="col-lg-4 form-group">
        <input type="text" class="form-control">
      </div>
      <div class="col-lg-6">
        <button class="btn btn-info pull-right">Calculate</button>
      </div>
    </div>
  </div>
</div>
