<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Jitendra Dubey</p>
            <div>
              <small class="designation text-muted">Manager</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <button class="btn btn-success btn-block">New Project
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/account-list" routerLinkActive="active">
        <i class="menu-icon fa fa-vcard"></i>
        <span class="menu-title">Account List</span>
      </a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">
        <i class="menu-icon mdi mdi-lock"></i>
        <span class="menu-title">Login</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/register" routerLinkActive="active">
        <i class="menu-icon fa fa-user-circle-o"></i>
        <span class="menu-title">Agents</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/emi-calculator" routerLinkActive="active">
        <i class="menu-icon fa fa-money"></i>
        <span class="menu-title">EMI Calculator</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transaction" routerLinkActive="active">
        <i class="menu-icon fa fa-inr"></i>
        <span class="menu-title">Transaction</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/fund-transfer" routerLinkActive="active">
        <i class="menu-icon mdi fa fa-user-circle-o"></i>
        <span class="menu-title">Fund Transfer</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/loan-account" routerLinkActive="active">
        <i class="menu-icon mdi fa fa-mobile"></i>
        <span class="menu-title">Loan Account</span>
      </a>
    </li>
  </ul>
</nav>
