<div class="card">
  <div class="card-body">
    <h4 class="card-title">Add Deposit</h4>
    <div class="row">
      <div class="col-lg-2 form-group">
        <label>Account</label>
      </div>
      <div class="col-lg-4 form-group">
        <select name="" id="" class="form-control">
          <option>Select Account</option>
          <option value="1">Jitendra Dubey-123801529589</option>
          <option value="2">Sandeep Dubey-3732010001310</option>
        </select>
      </div>
      <div class="col-lg-2 form-group">
        <label>Transaction Type</label>
      </div>
      <div class="col-lg-4 form-group">
        <select name="" id="" class="form-control">
          <option>Select Transaction Type</option>
          <option>Debit</option>
          <option>Credit</option>
        </select>
      </div>
      <div class="col-lg-2 form-group">
        Amount
      </div>
      <div class="col-lg-4 form-group">
        <input type="text" class="form-control">
      </div>
      <div class="col-lg-2 form-group">
        Remarks
      </div>
      <div class="col-lg-4 form-group">
        <input type="text" class="form-control">
      </div>
    </div>
    <button class="btn btn-info pull-right">Save Transaction</button>
  </div>
</div>